@import 'essentials.scss';

/*
	****************** Content ******************
*/

body {
	color: $white;
	@media screen and (max-width: $desktop) {
		font-size: 16px;
		line-height: 19px;
		&.fixed {
			overflow: hidden;
		}
	}
}

nav {
	font-family: "Grotesk S SH";
	font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	&.black {
		ul {
			li {
				a {
					color: $tundora;
					&:hover, &.active {
						@include link-border($tundora);
						border-bottom-width: 3px;
						@media screen and (max-width: $desktop) {
							padding-bottom: 20px;
							border-bottom: 0;
						}
					}
				}
			}
		}
	}
	&.shadow {
		ul {
			li {
				a {
					@include text-shadow($black);
					&:hover, &.active {
						@include link-border-shadow($black);
					}
					@media screen and (max-width: $desktop) {
						text-shadow: none;
						color: $tundora;
						&:hover, &.active {
							padding-bottom: 20px;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: $desktop) {
		position: fixed;
		top: -100vh;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		transition: top 0.2s cubic-bezier(0.42,0,0.58,1);
		&.open {
			top: 0;
			z-index: 1;
		}
	}
	#close {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		@media screen and (min-width: $desktop) {
			display: none;
		}
		.bar_wrap {
			position: relative;
			width: 25px;
			height: 15px;
			margin: 0 auto;
			margin-top: 26px;
			.bar {
				width: 25px;
				height: 3px;
				background-color: $tundora;
				transform: rotate(45deg);
				position: absolute;
				top: 0;
				left: -6px;
				&:last-of-type {
					transform: rotate(-45deg);
					top: 0;
					left: auto;
					right: 6px;
				}
			}
		}
	}
	ul {
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;
		@media screen and (max-width: $desktop) {
			float: none;
			text-align: center;
		}
		@media screen and (max-width: $mobile) {
			max-width: 300px;
			margin: 0 auto;
		}
		li {
			float: left;
			padding: $gutter 30px;
			&.heading {
				font-size: 22px;
				line-height: 30px;
			}
			@media screen and (max-width: $desktop) {
				float: none;
				padding: 0;
			}
			@media screen and (min-width: $desktop) {
				&.heading {
					display: none;
				}
			}
			a {
				color: $white;
				text-decoration: none;
				&:hover, &.active {
					@include link-border($white);
					border-bottom-width: 3px;
				}
				@media screen and (max-width: $desktop) {
					color: $tundora;
					display: block;
					padding: 20px 0;
					&:hover, &.active {
						padding-bottom: 20px;
						border-bottom: 0;
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
}

main {
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	transition: top 0.2s cubic-bezier(0.42,0,0.58,1);
	@media screen and (max-width: $desktop) {
		&.open {
			top: 130vh;
		}
	}
	#hamburger {
		position: absolute;
		right: $gutter;
		top: $gutter;
		z-index: 3;
		@media (max-width: $mobile) {
			top: $mgutter;
			right: $mgutter;
		}
		button {
			padding-top: 7px;
			border: 0;
			background: 0;
			cursor: pointer;
			@include no-appearance();
			&:focus {
				outline: none;
			}
			@media screen and (min-width: $desktop) {
				display: none;
			}
			.bar {
				height: 3px;
				width: 32px;
				background-color: $white;
				margin-bottom: 8px;
			}
		}
	}
	#logo {
		position: absolute;
		z-index: 2;
		margin-top: $gutter;
		width: 300px;
		height: 216px;
		max-width: 100%;
		@media (max-width: $desktop) {
			margin-top: $mgutter;
			width: 250px;
			h3 {
				line-height: 21px;
			}
		}
		@media (max-width: $mobile) {
			width: 230px;
		}
		h3 {
			color: $white;
			display: inline;
		}
		.logo {
			width: 77%;
			max-height: 95px;
			float: right;
			g {
				clip-path: url("#clip");
				g {
				isolation: isolate;
					g {
							fill: #424242;
					}
				}
			}
			path {
				fill: $white;
			}
		}
	}
	.get_down {
		border: 0;
		padding: 0;
		display: block;
		width: 300px;
		height: auto;
		background: none;
		cursor: pointer;
		position: absolute;
		bottom: 30px;
		left: 0;
		right: 0;
		margin: 0 auto;
		font-family: "Grotesk S SH";
		font-weight: normal;
		@include no-appearance();
		&:focus {
			outline: none;
		}
		span {
			display: block;
			@extend h4;
			color: $white;
		}
		.bar_wrap {
			position: relative;
			width: 15px;
			height: 15px;
			margin: 0 auto;
			margin-top: 20px;
			.bar {
				width: 15px;
				height: 3px;
				background-color: $white;
				transform: rotate(45deg);
				position: absolute;
				top: 0;
				left: -5px;
				&:last-of-type {
					transform: rotate(-45deg);
					top: 0;
					left: auto;
					right: -4px;
				}
			}
		}
	}
	a {
		color: $white;
		text-decoration: none;
		&:not(.logo_link) {
			@include link-border($white);
		}
	}
	.full_height {
		text-align: center;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
		position: relative;
	}
	&#home {
		background-size: cover;
		background-position: top center;
		@include text-shadow($black);
		a:not(.logo_link) {
			@include link-border-shadow($black);
		}
		#logo {
			h3 {
				@include text-shadow($black);
			}
		}
		#hamburger {
			button {
				.bar {
					@include drop-shadow($black);
				}
			}
		}
		.get_down {
			.bar_wrap {
				.bar {
					@include drop-shadow($black);
				}
			}
		}
	}
	&#team {
		background-color: $white;
		color: $tundora;
		#logo {
			h3 {
				color: $tundora
			}
			.logo {
				path {
					fill: $tundora;
				}
			}
		}
		#hamburger {
			button {
				.bar {
					background-color: $tundora;
				}
			}
		}
		.get_down {
			span {
				color: $tundora;
			}
			.bar_wrap {
				.bar {
					background-color: $tundora;
				}
			}
		}
		.album {
			&>div:nth-of-type(3n+1):not(#popup) {
				padding-left: 0;
				padding-right: calc(21px / 3 * 2);
				@media screen and (max-width: $desktop) {
					padding-right: calc(10px / 3 * 2);
				}
			}
			&>div:nth-of-type(3n+2):not(#popup) {
				padding-left: calc(21px / 3 * 1);
				padding-right: calc(21px / 3 * 1);
				@media screen and (max-width: $desktop) {
					padding-left: calc(10px / 3 * 1);
					padding-right: calc(10px / 3 * 1);
				}
			}
			&>div:nth-of-type(3n+3):not(#popup) {
				padding-left: calc(21px / 3 * 2);
				padding-right: 0;
				@media screen and (max-width: $desktop) {
					padding-left: calc(10px / 3 * 2);
				}
			}
			.image {
				cursor: pointer;
				width: 100%;
				height: 0;
				position: relative;
				padding-bottom: 100%;
				overflow: hidden;
				margin-bottom: 21px;
				@media screen and (max-width: $desktop) {
					margin-bottom: 10px;
				}
				img {
					display: block;
					position: absolute;
					max-width: 100%;
					max-height: 100%;
					width: 100%;
				}
				h4 {
					position: absolute;
					color: $white;
					left: 8px;
					bottom: 4px;
					right: 4px;
					@include text-shadow($black);
				}
				.meta {
					display: none;
				}
			}
			#overlay {
				z-index: -1;
				opacity: 0;
				background-color: rgba($tundora, 0.95);
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				&.visible {
					z-index: 9;
					opacity: 1;
				}
			}
			#popup {
				z-index: -1;
				position: fixed;
				top: calc(50% - 300px);
				right: 0;
				left: 0;
				margin: 0 auto;
				width: 1000px;
				max-width: 1000px;
				opacity: 0;
				background-color: $white;
				@media screen and (max-width: 1000px) {
					width: auto;
				}
				@media screen and (max-width: $tablet) {
					top: 0;
				}
				&.visible {
					z-index: 10;
					opacity: 1;
					@media screen and (max-width: $tablet) {
						overflow: scroll;
						height: 100vh;
					}
				}
				.image_wrap {
					width: 60%;
					@media (max-width: $tablet) {
						width: 100%;
					}
					img {
						display: block;
						width: 100%;
					}
				}
				.content {
					width: 40%;
					@media (max-width: $tablet) {
						width: 100%;
					}
					#name {
						color: $emperor;
						padding-top: $gutter;
					}
					#job {
						color: $shamrock;
					}
					#bio {
						color: $emperor;
						font-size: 14px;
						line-height: 20px;
						font-family: "Neue Haas Grotesk Text";
						padding-top: $gutter;
						padding-bottom: $gutter;
					}
					#social {
						display: none;
						font-size: 20px;
						line-height: 38px;
						color: $nobel;
						ul {
							list-style: none;
							margin: 0;
							padding: 0;
							li {
								float: left;
								width: 100% / 3 * 1;
							}
						}
					}
				}
				#popup_close {
					color: $white;
					position: absolute;
					top: 0;
					right: -34px;
					cursor: pointer;
					.bar_wrap {
						position: relative;
						width: 25px;
						height: 15px;
						margin: 0 auto;
						margin-top: 8px;
						.bar {
							width: 25px;
							height: 3px;
							background-color: $white;
							transform: rotate(45deg);
							position: absolute;
							top: 0;
							left: -6px;
							&:last-of-type {
								transform: rotate(-45deg);
								top: 0;
								left: auto;
								right: 6px;
							}
						}
					}
					@media screen and (max-width: $desktop) {
						right: 10px;
						top: 10px;
						.bar_wrap {
							.bar {
								background-color: $tundora;
							}
						}
					}
					@media screen and (max-width: $tablet) {
						.bar_wrap {
							.bar {
								background-color: $white;
							}
						}
					}
				}
			}
		}
	}
	&#vacancies {
		background-color: $salmon;
		color: $white;
		h2 {
			a {
				border-bottom-width: 3px;
			}
		}
	}
	&#startups {
		background-color: $white;
		color: $pickled-bluewood;
		.pickled {
			background-color: $pickled-bluewood;
			color: $white;
		}
		.company {
			text-align: left;
			padding-top: $gutter;
			padding-bottom: $gutter;
			&.inactive {
				opacity: 0.2;
				.hero {
					border: solid 1px $pickled-bluewood;
				}
			}
			@media screen and (max-width: $tablet) {
				padding-top: $gutter*4;
				padding-bottom: 0;
				&>div {
					&>div {
						padding-bottom: $gutter;
					}
				}
			}
			@media screen and (min-width: $tablet) {
				&>div {
					&>div:first-of-type {
						text-align: right;
					}
					&>div:nth-of-type(2) {
						padding-left: $gutter;
						padding-right: $gutter;
					}
				}
			}
			.logo {
				height: $gutter*2;
				margin-bottom: $gutter;
				img {
					width: 250px;
					float: right;
					@media (max-width: $tablet) {
						float: left;
					}
				}
			}
			.hero {
				width: 100%;
				height: 0;
				padding-bottom: 100%;
				position: relative;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			h2 {
				margin-bottom: $gutter;
			}
			p {
				font-size: 16px;
				line-height: 20px;
				font-family: "Neue Haas Grotesk Text";
			}
		}
	}
	&#contact {
		background-color: $shamrock;
		h1 {
			//cursor: pointer;
			span {
				@include link-border($white);
				h4 {
					margin-top: 5px;
				}
			}
		}
		.contact {
			.full_height {
				&>div {
					width: 100%;
				}
			}
		}
		.map_wrap {
			width: 100%;
			overflow: hidden;
			padding-top: 45px;
			margin-bottom: $gutter*2;
			.map {
				width: 1000px;
				height: 512px;
				margin: 0 auto;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: top left;
				max-height: 100%;
				position: relative;
				@media screen and (min-width: $mobile) and (max-width: $tablet) {
					//left: -30%;
					right: 30%;
				}
				@media screen and (max-width: $mobile) {
					//left: -110%;
					right: 75%;
				}
				&>span {
					position: absolute;
					@extend h4;
					text-align: left;
				}
				.cs {
					top: 30px;
					left: 640px;
				}
				.nieuwmarkt {
					top: 207px;
					left: 650px;
				}
				.westerkerk {
					top: 153px;
					left: 325px;
				}
				.rokin {
					top: 230px;
					left: 500px;
				}
				.spui {
					top: 310px;
					left: 450px;
				}
				.waterlooplein {
					top: 320px;
					left: 630px;
				}
				.rembrandtplein {
					top: 410px;
					left: 550px;
				}
				.leidseplein {
					top: 450px;
					left: 300px;
				}
			}
		}
		ul {
			list-style: none;
			padding: 0;
			margin-top: 80px;
			margin-bottom: 140px;
			@media screen and (max-width: $tablet) {
				margin-bottom: $gutter;
			}
			li {
				display: block;
				float: left;
				width: 20%;
				text-align: center;
				@media screen and (max-width: $tablet) {
					width: 30%;
					margin-bottom: 20px;
					display: inline-block;
					float: none;
				}
				a {
					border-bottom: 0;
				}
			}
		}
	}
}
