/*
	****************** Settings ******************
*/
/*
	****************** Colours ******************
*/
/*
	****************** Essentials ******************
*/
@font-face {
  font-family: "Grotesk S SH";
  src: url("../fonts/GroteskSSH-Bold.woff"); }

@font-face {
  font-family: "Neue Haas Grotesk Text";
  src: url("../fonts/NeueHaasGroteskText.ttf"); }

html, body {
  padding: 0;
  margin: 0;
  font-family: "Neue Haas Grotesk Text";
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  border: 0; }

a {
  text-decoration: underline;
  background-color: transparent; }
  a:active, a:hover {
    outline: none; }

input, button, textarea {
  -webkit-appearance: none; }

h1, h2, h3 {
  font-family: "Grotesk S SH";
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  font-weight: 500; }
  @media screen and (max-width: 1150px) {
    h1, h2, h3 {
      font-size: 22px;
      line-height: 32px; } }

h3 {
  line-height: 30px; }

h4, main .get_down span, main#contact .map_wrap .map > span {
  font-family: "Grotesk S SH";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 0; }

h5 {
  font-family: "Grotesk S SH";
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*
	****************** Fluids ******************
	These columns are made for nesting.
	First define the max-width of .container and nest other classes in this element.
*/
.container {
  width: 100%;
  display: block;
  max-width: 1150px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  .container [class*='col-'] {
    display: block; }
  .container .col-12 {
    width: 100%; }
  .container .col-11 {
    width: 91.66667%; }
  .container .col-10 {
    width: 83.33333%; }
  .container .col-9 {
    width: 75%; }
  .container .col-8 {
    width: 66.66667%; }
  .container .col-7 {
    width: 58.33333%; }
  .container .col-6 {
    width: 50%; }
  .container .col-5 {
    width: 41.66667%; }
  .container .col-4 {
    width: 33.33333%; }
  .container .col-3 {
    width: 25%; }
  .container .col-2 {
    width: 16.66667%; }
  .container .col-1 {
    width: 100% / 12; }
  .container .col-0 {
    display: none; }
  @media (max-width: 1150px) {
    .container .col-d-12 {
      width: 100%; }
    .container .col-d-11 {
      width: 91.66667%; }
    .container .col-d-10 {
      width: 83.33333%; }
    .container .col-d-9 {
      width: 75%; }
    .container .col-d-8 {
      width: 66.66667%; }
    .container .col-d-7 {
      width: 58.33333%; }
    .container .col-d-6 {
      width: 50%; }
    .container .col-d-5 {
      width: 41.66667%; }
    .container .col-d-4 {
      width: 33.33333%; }
    .container .col-d-3 {
      width: 25%; }
    .container .col-d-2 {
      width: 16.66667%; }
    .container .col-d-1 {
      width: 100% / 12; }
    .container .col-d-0 {
      display: none; } }
  @media (max-width: 768px) {
    .container .col-t-12 {
      width: 100%; }
    .container .col-t-11 {
      width: 91.66667%; }
    .container .col-t-10 {
      width: 83.33333%; }
    .container .col-t-9 {
      width: 75%; }
    .container .col-t-8 {
      width: 66.66667%; }
    .container .col-t-7 {
      width: 58.33333%; }
    .container .col-t-6 {
      width: 50%; }
    .container .col-t-5 {
      width: 41.66667%; }
    .container .col-t-4 {
      width: 33.33333%; }
    .container .col-t-3 {
      width: 25%; }
    .container .col-t-2 {
      width: 16.66667%; }
    .container .col-t-1 {
      width: 100% / 12; }
    .container .col-t-0 {
      display: none; } }
  @media (max-width: 540px) {
    .container .col-m-12 {
      width: 100%; }
    .container .col-m-11 {
      width: 91.66667%; }
    .container .col-m-10 {
      width: 83.33333%; }
    .container .col-m-9 {
      width: 75%; }
    .container .col-m-8 {
      width: 66.66667%; }
    .container .col-m-7 {
      width: 58.33333%; }
    .container .col-m-6 {
      width: 50%; }
    .container .col-m-5 {
      width: 41.66667%; }
    .container .col-m-4 {
      width: 33.33333%; }
    .container .col-m-3 {
      width: 25%; }
    .container .col-m-2 {
      width: 16.66667%; }
    .container .col-m-1 {
      width: 8.33333%; }
    .container .col-m-0 {
      display: none; } }

.center {
  margin: 0 auto;
  float: none; }

.left {
  float: left; }

.right {
  float: right; }

@media (max-width: 768px) {
  .center-t {
    margin: 0 auto;
    float: none; }
  .left-t {
    float: left; }
  .right-t {
    float: right; } }

@media (max-width: 540px) {
  .center-m {
    margin: 0 auto;
    float: none; }
  .left-m {
    float: left; }
  .right-m {
    float: right; } }

.padding {
  padding-right: 40px;
  padding-left: 40px; }

@media (max-width: 540px) {
  .padding {
    padding-right: 30px;
    padding-left: 30px; } }

.clearfix {
  clear: both; }

/*
	****************** Content ******************
*/
body {
  color: #ffffff; }
  @media screen and (max-width: 1150px) {
    body {
      font-size: 16px;
      line-height: 19px; }
      body.fixed {
        overflow: hidden; } }

nav {
  font-family: "Grotesk S SH";
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }
  nav.black ul li a {
    color: #414141; }
    nav.black ul li a:hover, nav.black ul li a.active {
      padding-bottom: 2px;
      border-bottom: solid 2px #414141;
      border-bottom-width: 3px; }
      @media screen and (max-width: 1150px) {
        nav.black ul li a:hover, nav.black ul li a.active {
          padding-bottom: 20px;
          border-bottom: 0; } }
  nav.shadow ul li a {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); }
    nav.shadow ul li a:hover, nav.shadow ul li a.active {
      padding-bottom: 1px;
      border-bottom: 0;
      position: relative; }
      nav.shadow ul li a:hover:after, nav.shadow ul li a.active:after {
        content: " ";
        background-color: #ffffff;
        height: 3px;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); }
    @media screen and (max-width: 1150px) {
      nav.shadow ul li a {
        text-shadow: none;
        color: #414141; }
        nav.shadow ul li a:hover, nav.shadow ul li a.active {
          padding-bottom: 20px; } }
  @media screen and (max-width: 1150px) {
    nav {
      position: fixed;
      top: -100vh;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      transition: top 0.2s cubic-bezier(0.42, 0, 0.58, 1); }
      nav.open {
        top: 0;
        z-index: 1; } }
  nav #close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; }
    @media screen and (min-width: 1150px) {
      nav #close {
        display: none; } }
    nav #close .bar_wrap {
      position: relative;
      width: 25px;
      height: 15px;
      margin: 0 auto;
      margin-top: 26px; }
      nav #close .bar_wrap .bar {
        width: 25px;
        height: 3px;
        background-color: #414141;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        left: -6px; }
        nav #close .bar_wrap .bar:last-of-type {
          transform: rotate(-45deg);
          top: 0;
          left: auto;
          right: 6px; }
  nav ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0; }
    @media screen and (max-width: 1150px) {
      nav ul {
        float: none;
        text-align: center; } }
    @media screen and (max-width: 540px) {
      nav ul {
        max-width: 300px;
        margin: 0 auto; } }
    nav ul li {
      float: left;
      padding: 40px 30px; }
      nav ul li.heading {
        font-size: 22px;
        line-height: 30px; }
      @media screen and (max-width: 1150px) {
        nav ul li {
          float: none;
          padding: 0; } }
      @media screen and (min-width: 1150px) {
        nav ul li.heading {
          display: none; } }
      nav ul li a {
        color: #ffffff;
        text-decoration: none; }
        nav ul li a:hover, nav ul li a.active {
          padding-bottom: 2px;
          border-bottom: solid 2px #ffffff;
          border-bottom-width: 3px; }
        @media screen and (max-width: 1150px) {
          nav ul li a {
            color: #414141;
            display: block;
            padding: 20px 0; }
            nav ul li a:hover, nav ul li a.active {
              padding-bottom: 20px;
              border-bottom: 0; }
              nav ul li a:hover:after, nav ul li a.active:after {
                display: none; } }

main {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  transition: top 0.2s cubic-bezier(0.42, 0, 0.58, 1); }
  @media screen and (max-width: 1150px) {
    main.open {
      top: 130vh; } }
  main #hamburger {
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 3; }
    @media (max-width: 540px) {
      main #hamburger {
        top: 30px;
        right: 30px; } }
    main #hamburger button {
      padding-top: 7px;
      border: 0;
      background: 0;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      main #hamburger button:focus {
        outline: none; }
      @media screen and (min-width: 1150px) {
        main #hamburger button {
          display: none; } }
      main #hamburger button .bar {
        height: 3px;
        width: 32px;
        background-color: #ffffff;
        margin-bottom: 8px; }
  main #logo {
    position: absolute;
    z-index: 2;
    margin-top: 40px;
    width: 300px;
    height: 216px;
    max-width: 100%; }
    @media (max-width: 1150px) {
      main #logo {
        margin-top: 30px;
        width: 250px; }
        main #logo h3 {
          line-height: 21px; } }
    @media (max-width: 540px) {
      main #logo {
        width: 230px; } }
    main #logo h3 {
      color: #ffffff;
      display: inline; }
    main #logo .logo {
      width: 77%;
      max-height: 95px;
      float: right; }
      main #logo .logo g {
        clip-path: url("#clip"); }
        main #logo .logo g g {
          isolation: isolate; }
          main #logo .logo g g g {
            fill: #424242; }
      main #logo .logo path {
        fill: #ffffff; }
  main .get_down {
    border: 0;
    padding: 0;
    display: block;
    width: 300px;
    height: auto;
    background: none;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-family: "Grotesk S SH";
    font-weight: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    main .get_down:focus {
      outline: none; }
    main .get_down span {
      display: block;
      color: #ffffff; }
    main .get_down .bar_wrap {
      position: relative;
      width: 15px;
      height: 15px;
      margin: 0 auto;
      margin-top: 20px; }
      main .get_down .bar_wrap .bar {
        width: 15px;
        height: 3px;
        background-color: #ffffff;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        left: -5px; }
        main .get_down .bar_wrap .bar:last-of-type {
          transform: rotate(-45deg);
          top: 0;
          left: auto;
          right: -4px; }
  main a {
    color: #ffffff;
    text-decoration: none; }
    main a:not(.logo_link) {
      padding-bottom: 2px;
      border-bottom: solid 2px #ffffff; }
  main .full_height {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; }
  main#home {
    background-size: cover;
    background-position: top center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); }
    main#home a:not(.logo_link) {
      padding-bottom: 1px;
      border-bottom: 0;
      position: relative; }
      main#home a:not(.logo_link):after {
        content: " ";
        background-color: #ffffff;
        height: 3px;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); }
    main#home #logo h3 {
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); }
    main#home #hamburger button .bar {
      -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); }
    main#home .get_down .bar_wrap .bar {
      -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); }
  main#team {
    background-color: #ffffff;
    color: #414141; }
    main#team #logo h3 {
      color: #414141; }
    main#team #logo .logo path {
      fill: #414141; }
    main#team #hamburger button .bar {
      background-color: #414141; }
    main#team .get_down span {
      color: #414141; }
    main#team .get_down .bar_wrap .bar {
      background-color: #414141; }
    main#team .album > div:nth-of-type(3n+1):not(#popup) {
      padding-left: 0;
      padding-right: calc(21px / 3 * 2); }
      @media screen and (max-width: 1150px) {
        main#team .album > div:nth-of-type(3n+1):not(#popup) {
          padding-right: calc(10px / 3 * 2); } }
    main#team .album > div:nth-of-type(3n+2):not(#popup) {
      padding-left: calc(21px / 3 * 1);
      padding-right: calc(21px / 3 * 1); }
      @media screen and (max-width: 1150px) {
        main#team .album > div:nth-of-type(3n+2):not(#popup) {
          padding-left: calc(10px / 3 * 1);
          padding-right: calc(10px / 3 * 1); } }
    main#team .album > div:nth-of-type(3n+3):not(#popup) {
      padding-left: calc(21px / 3 * 2);
      padding-right: 0; }
      @media screen and (max-width: 1150px) {
        main#team .album > div:nth-of-type(3n+3):not(#popup) {
          padding-left: calc(10px / 3 * 2); } }
    main#team .album .image {
      cursor: pointer;
      width: 100%;
      height: 0;
      position: relative;
      padding-bottom: 100%;
      overflow: hidden;
      margin-bottom: 21px; }
      @media screen and (max-width: 1150px) {
        main#team .album .image {
          margin-bottom: 10px; } }
      main#team .album .image img {
        display: block;
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%; }
      main#team .album .image h4, main#team .album .image .get_down span, main#team .get_down .album .image span, main#team .album .image main#contact .map_wrap .map > span, main#contact .map_wrap main#team .album .image .map > span {
        position: absolute;
        color: #ffffff;
        left: 8px;
        bottom: 4px;
        right: 4px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); }
      main#team .album .image .meta {
        display: none; }
    main#team .album #overlay {
      z-index: -1;
      opacity: 0;
      background-color: rgba(65, 65, 65, 0.95);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      main#team .album #overlay.visible {
        z-index: 9;
        opacity: 1; }
    main#team .album #popup {
      z-index: -1;
      position: fixed;
      top: calc(50% - 300px);
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 1000px;
      max-width: 1000px;
      opacity: 0;
      background-color: #ffffff; }
      @media screen and (max-width: 1000px) {
        main#team .album #popup {
          width: auto; } }
      @media screen and (max-width: 768px) {
        main#team .album #popup {
          top: 0; } }
      main#team .album #popup.visible {
        z-index: 10;
        opacity: 1; }
        @media screen and (max-width: 768px) {
          main#team .album #popup.visible {
            overflow: scroll;
            height: 100vh; } }
      main#team .album #popup .image_wrap {
        width: 60%; }
        @media (max-width: 768px) {
          main#team .album #popup .image_wrap {
            width: 100%; } }
        main#team .album #popup .image_wrap img {
          display: block;
          width: 100%; }
      main#team .album #popup .content {
        width: 40%; }
        @media (max-width: 768px) {
          main#team .album #popup .content {
            width: 100%; } }
        main#team .album #popup .content #name {
          color: #555555;
          padding-top: 40px; }
        main#team .album #popup .content #job {
          color: #00CCAD; }
        main#team .album #popup .content #bio {
          color: #555555;
          font-size: 14px;
          line-height: 20px;
          font-family: "Neue Haas Grotesk Text";
          padding-top: 40px;
          padding-bottom: 40px; }
        main#team .album #popup .content #social {
          display: none;
          font-size: 20px;
          line-height: 38px;
          color: #B7B7B7; }
          main#team .album #popup .content #social ul {
            list-style: none;
            margin: 0;
            padding: 0; }
            main#team .album #popup .content #social ul li {
              float: left;
              width: 33.33333%; }
      main#team .album #popup #popup_close {
        color: #ffffff;
        position: absolute;
        top: 0;
        right: -34px;
        cursor: pointer; }
        main#team .album #popup #popup_close .bar_wrap {
          position: relative;
          width: 25px;
          height: 15px;
          margin: 0 auto;
          margin-top: 8px; }
          main#team .album #popup #popup_close .bar_wrap .bar {
            width: 25px;
            height: 3px;
            background-color: #ffffff;
            transform: rotate(45deg);
            position: absolute;
            top: 0;
            left: -6px; }
            main#team .album #popup #popup_close .bar_wrap .bar:last-of-type {
              transform: rotate(-45deg);
              top: 0;
              left: auto;
              right: 6px; }
        @media screen and (max-width: 1150px) {
          main#team .album #popup #popup_close {
            right: 10px;
            top: 10px; }
            main#team .album #popup #popup_close .bar_wrap .bar {
              background-color: #414141; } }
        @media screen and (max-width: 768px) {
          main#team .album #popup #popup_close .bar_wrap .bar {
            background-color: #ffffff; } }
  main#vacancies {
    background-color: #FE6A4D;
    color: #ffffff; }
    main#vacancies h2 a {
      border-bottom-width: 3px; }
  main#startups {
    background-color: #ffffff;
    color: #344C67; }
    main#startups .pickled {
      background-color: #344C67;
      color: #ffffff; }
    main#startups .company {
      text-align: left;
      padding-top: 40px;
      padding-bottom: 40px; }
      main#startups .company.inactive {
        opacity: 0.2; }
        main#startups .company.inactive .hero {
          border: solid 1px #344C67; }
      @media screen and (max-width: 768px) {
        main#startups .company {
          padding-top: 160px;
          padding-bottom: 0; }
          main#startups .company > div > div {
            padding-bottom: 40px; } }
      @media screen and (min-width: 768px) {
        main#startups .company > div > div:first-of-type {
          text-align: right; }
        main#startups .company > div > div:nth-of-type(2) {
          padding-left: 40px;
          padding-right: 40px; } }
      main#startups .company .logo {
        height: 80px;
        margin-bottom: 40px; }
        main#startups .company .logo img {
          width: 250px;
          float: right; }
          @media (max-width: 768px) {
            main#startups .company .logo img {
              float: left; } }
      main#startups .company .hero {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      main#startups .company h2 {
        margin-bottom: 40px; }
      main#startups .company p {
        font-size: 16px;
        line-height: 20px;
        font-family: "Neue Haas Grotesk Text"; }
  main#contact {
    background-color: #00CCAD; }
    main#contact h1 span, main#contact h2 span, main#contact h3 span {
      padding-bottom: 2px;
      border-bottom: solid 2px #ffffff; }
      main#contact h1 span h4, main#contact h2 span h4, main#contact h3 span h4, main#contact h1 span .get_down span, main#contact .get_down h1 span span, main#contact h2 span .get_down span, main#contact .get_down h2 span span, main#contact h3 span .get_down span, main#contact .get_down h3 span span, main#contact h1 span .map_wrap .map > span, main#contact .map_wrap h1 span .map > span, main#contact h2 span .map_wrap .map > span, main#contact .map_wrap h2 span .map > span, main#contact h3 span .map_wrap .map > span, main#contact .map_wrap h3 span .map > span {
        margin-top: 5px; }
    main#contact .contact .full_height > div {
      width: 100%; }
    main#contact .map_wrap {
      width: 100%;
      overflow: hidden;
      padding-top: 45px;
      margin-bottom: 80px; }
      main#contact .map_wrap .map {
        width: 1000px;
        height: 512px;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
        max-height: 100%;
        position: relative; }
        @media screen and (min-width: 540px) and (max-width: 768px) {
          main#contact .map_wrap .map {
            right: 30%; } }
        @media screen and (max-width: 540px) {
          main#contact .map_wrap .map {
            right: 75%; } }
        main#contact .map_wrap .map > span {
          position: absolute;
          text-align: left; }
        main#contact .map_wrap .map .cs {
          top: 30px;
          left: 640px; }
        main#contact .map_wrap .map .nieuwmarkt {
          top: 207px;
          left: 650px; }
        main#contact .map_wrap .map .westerkerk {
          top: 153px;
          left: 325px; }
        main#contact .map_wrap .map .rokin {
          top: 230px;
          left: 500px; }
        main#contact .map_wrap .map .spui {
          top: 310px;
          left: 450px; }
        main#contact .map_wrap .map .waterlooplein {
          top: 320px;
          left: 630px; }
        main#contact .map_wrap .map .rembrandtplein {
          top: 410px;
          left: 550px; }
        main#contact .map_wrap .map .leidseplein {
          top: 450px;
          left: 300px; }
    main#contact ul {
      list-style: none;
      padding: 0;
      margin-top: 80px;
      margin-bottom: 140px; }
      @media screen and (max-width: 768px) {
        main#contact ul {
          margin-bottom: 40px; } }
      main#contact ul li {
        display: block;
        float: left;
        width: 20%;
        text-align: center; }
        @media screen and (max-width: 768px) {
          main#contact ul li {
            width: 30%;
            margin-bottom: 20px;
            display: inline-block;
            float: none; } }
        main#contact ul li a {
          border-bottom: 0; }
